<div class="navbar" style="background-color: #66318D">
    <div class="container-fluid">
      <a class = "nav-item" href = "#"><h3 class = "logo">Suggestunes</h3></a>
      <a class = "nav-item" href = "#"><h5 class = "nav-button">Songs</h5></a>
      <a class = "nav-item" href = "/playlists"><h5 class = "nav-button">Playlists</h5></a>
      <a class = "nav-item" href = "#"><h5 class = "nav-button">Discover</h5></a>
      <div class="d-flex justify-content-end">
      <a class = "nav-item me-2" href = "/account" style = "float: right; margin-right: 25px;"><img src = "https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" style="border-radius: 50%;" height = "32px" width = "32px"></a>
      <h5 class = "nav-item me-2" style = "float: right;">{{username}}</h5>
      </div>
  </div>
</div>
