.site-nav {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #66318D;
}

.nav-content {
    margin-left: 20px;
}

.nav-item {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    color: white;
}

.logo {
    -webkit-font-smoothing: antialiased;
    color: white;
}

.nav-button {
    -webkit-font-smoothing: antialiased;
    color: white;
}
