<div class="d-flex flex-column justify-content-center">
    <div class="loginBox d-flex ">
        <div style="padding: 20px;">
            <h3 class="loginHeader">Suggestunes</h3>
            <form #postForm="ngForm" class="loginForm" (ngSubmit)="callRegister()">
                <div class="mb-3">
                    <input type="email" class="form-control" id="email" placeholder="Email Address">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="username" placeholder="Username">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="confirm_password" placeholder="Confirm Password">
                </div>
                <div style="text-align: center; padding-top: 10px;">
                    <button class="btn btn-primary" type="submit">Register Now!</button>
                </div>
            </form>
        </div>
    </div>
    <div class="signupBox d-flex container">
        <p style="padding: 10px 0px 0px; margin: 0px; color: white">
            <font style = "margin: 0px 30px">Already have an account?<br></font>
            <a href="signin">
                <button class="btn btn-secondary">Log In</button>
            </a>
        </p>
    </div>
</div>