button {
  color:white;
  background-color: #3E2149;
  border: #66318D 5px;
}
button:hover{
  background-color: #66318D;
}
button:active{
  background-color: #3E2149!important;
}
button:focus{
  background-color: #3E2149!important;
}
