.loginBox {
    background-color: #333333;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13%;
        /* box-shadow: 1px 1px 5px 1px #66318D; */
}

.loginHeader{
    padding: 10px;
    margin: 10px;
    color: white;
}

.forgotPasswordText{
    font-size: 10px;
    text-align: center;
}

.loginForm{
    padding: 10px;
    color: white;
}

.mb-3{
    padding-top: 5px;
    margin: 10px
}

.btn-primary{
    color: white;
    background-color: #66318D;
    border-radius: 10px;
    border-color: rgba(0,0,0,0);
    width: 75%;
    height: 30px;
    padding: 0px 10px;
}

.btn-primary:hover{
    background-color: #3E2149;
}

.btn-secondary{
    text-align: center; 
    margin-top: 10px;
    padding-top: 10px;
    width: 100%;
    border-radius: 0px 0px 10px 10px
}
