<div class="d-flex flex-column justify-content-center">
    <div class="loginBox d-flex">
        <div style="padding: 20px 0px 0px 0px;">
            <img src = "https://i.imgur.com/BBAYJgZ.png" height="100px" style = "margin-left: auto; margin-right: auto; display: block" alt = "Password Reset Image">
            <h3 class="loginHeader">Forgot Your Password?</h3>
            <p class = "forgotPasswordText"> Enter your email and we'll 
                send you a link to reset it.</p>
            <form #postForm="ngForm" class="loginForm" (ngSubmit) = "CallResetPassword()">
                <div class="mb-3">
                    <input type="email" class="form-control" id="passwordReset" placeholder="Email">
                </div>
                <div style="text-align: center; padding-top: 10px;">
                    <button class="btn btn-primary" type="submit" >Send Reset Link</button>
                </div>
            </form>
            <div style="text-align: center; padding-top: 10px;">
                <a href = signin>
                <button class="btn btn-secondary">Back to Login</button>
                </a>
            </div>
        </div>
    </div>
</div>