<app-nav-bar></app-nav-bar>
<div *ngIf="show"> <div class="header container-fluid">
    <img alt = "" src="{{playlist!.image}}" class="music-img rounded float-start">
    <div class="title container">
        <div *ngIf="playlist"><h1 class="playlist-title">{{playlist!.name}}</h1>
        <h2 class="playlist-description">{{playlist!.description}}</h2></div>
    </div>
</div>
<div class="body container-fluid">
    <button class="btn editButton" type="button" data-bs-toggle="modal" data-bs-target="#editPlaylistModal">Edit playlist</button>
    <app-edit-playlist-modal [target_playlist] = "playlist"></app-edit-playlist-modal>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Add Songs</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Search">
      </div>
</div></div>
