<app-nav-bar></app-nav-bar>
<div style = "height: 100px;"></div>
<app-account-info></app-account-info>
<div class = "playlists-component">
    <h1 style = "text-decoration: underline;">My Playlists</h1>
    <div style = "overflow-x: scroll; max-width: 1152px; margin: 0 auto; white-space: nowrap">
        <div style="display: inline-block" *ngFor = "let item of cards">
            <app-card img = {{item.img}} description = {{item.description}} imgDescription={{item.imgDescription}}></app-card>
        </div>
        <a class = "showAllButton" href = "playlists">Show All</a>
    </div>
</div>
<div class = "friends-component">
    <h1 style = "text-decoration: underline;">My Friends</h1>
    <div style = "overflow-x: scroll; max-width: 1152px; margin: 0 auto; white-space: nowrap;">
        <div *ngFor = "let product of products" style = "display: inline-block;">
                <app-account-friends friendName = {{product.friendName}}></app-account-friends>
        </div>
        <a class = "showAllButton" href = "#">Show All</a>
    </div>
</div>
<div class="spotify-component">
    <button (click)="spotifyAuth()">Link your Spotify</button>
</div>