<app-nav-bar></app-nav-bar>
<div class = "changeUp">
    <div class = "userBox" style = "margin-right: 10px;">
        <h4>Change Username</h4>
        <input type = "text" id = "newUsername" class = "textField" value = "New Username">
        <input type = "submit" class = "submitButton" (click) = 'callSubmitUsername()'>
    </div>
    <div class = "passBox" style = "margin-left: 10px;">
        <h4>Change Password</h4>
        <input type = "text" class = "textField" value = "New Password">
        <input type = "text" class = "textField" value = "Confirm New Password">
        <input type = "submit" class = "submitButton" (click) = 'callSubmitPassword()'>
    </div>
</div>
