.loginBox {
    background-color: #333333;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.bigFlex {
        background-color: #333333;
    border-radius: 10px;
  width:fit-content;
  margin-top: 5%;
  margin-left:auto;
  margin-right:auto;
}

.loginHeader{
    padding: 10px;
    margin: 0;
    color: white;
}

.loginForm{
    padding: 10px;
    color: white;
}

.mb-3{
    padding-top: 5px;
}

.btn-primary{
    color: white;
    background-color: #66318D;
    border-radius: 10px;
    border-color: rgba(0,0,0,0);
    width: 100px;
    height: 40px;
}

.btn-primary:hover{
    background-color: #3E2149;
}

.link{
    color: #66318D;
    font-size: 10px;
    font-weight: 800;
}

.signupBox {
    background-color: #333333;
    border-radius: 10px;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 10px;
    width: fit-content;
}
.signupBox{
    background-color: #333333;
    border-radius: 10px;
  width:fit-content;
  margin-left:auto;
  margin-right:auto;
  margin-top: 1%;

}
