<div style="text-align: center">
<h5 class = "fs-1" style = "justify-content: center;padding-top:1rem">Your Playlists</h5>
  <app-create-playlist (messageEvent)="addLink($event)"></app-create-playlist>
  <div class="d-flex justify-content-center">
    <div id="container" class="list-group list-group-flush text-md-start" >
      <span *ngIf="show"  style="border:none;"><a *ngFor="let p of playlists" href="/playlists/playlist" class = "list-group-item"> <img alt = "default image" src = "{{p.image}}"><p>{{p.name}}</p></a></span>
    </div>
  </div>
</div>
