<div class="d-flex flex-row align-items-center">
        <div class="footer-card p-2">
            <div class="card-title"> SuggesTunes
            </div>
            <div class="card-body">
                <p class="card-text"> Subscribe to our newsletter that doesn't exist</p>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-primary">Subscribe</a>
            </div>
        </div>  

        <div class="footer-card p-2">
            <div class="card-body">
                <p class="footer-text"> Some important footer text will go here</p>
                <p class="footer-text">maybe even a link</p>
            </div>
        </div>  

        <div class="footer-card p-2">
            <div class="card-body">
                <p class="footer-text"> A third column of things</p>
            </div>
        </div>  
    </div>
